{{- if .Values.nomad.enabled -}}
{{- $fullName := include "nomad.fullname" . -}}

{{- if or .Values.nomad.secrets.api.value .Values.nomad.secrets.api.autoGenerate }}
{{- if not .Values.nomad.secrets.api.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-api-secret
  labels:
    {{- include "nomad.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.nomad.secrets.api.value }}
  {{ .Values.nomad.secrets.api.key }}: {{ .Values.nomad.secrets.api.value | b64enc }}
  {{- else }}
  {{ .Values.nomad.secrets.api.key }}: {{ randAlphaNum 64 | b64enc }}
  {{- end }}
---
{{- end }}
{{- end }}

{{- if .Values.nomad.secrets.keycloak.clientSecret.value }}
{{- if not .Values.nomad.secrets.keycloak.clientSecret.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-keycloak-client-secret
  labels:
    {{- include "nomad.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.nomad.secrets.keycloak.clientSecret.key }}: {{ .Values.nomad.secrets.keycloak.clientSecret.value | b64enc }}
---
{{- end }}
{{- end }}

{{- if .Values.nomad.secrets.keycloak.password.value }}
{{- if not .Values.nomad.secrets.keycloak.password.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-keycloak-password-secret
  labels:
    {{- include "nomad.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.nomad.secrets.keycloak.password.key }}: {{ .Values.nomad.secrets.keycloak.password.value | b64enc }}
---
{{- end }}
{{- end }}

{{- if .Values.nomad.secrets.client.password.value }}
{{- if not .Values.nomad.secrets.client.password.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-client-password-secret
  labels:
    {{- include "nomad.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.nomad.secrets.client.password.key }}: {{ .Values.nomad.secrets.client.password.value | b64enc }}
---
{{- end }}
{{- end }}

{{- if .Values.nomad.secrets.datacite.value }}
{{- if not .Values.nomad.secrets.datacite.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-datacite-secret
  labels:
    {{- include "nomad.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.nomad.secrets.datacite.key }}: {{ .Values.nomad.secrets.datacite.value | b64enc }}
---
{{- end }}
{{- end }}

{{- if .Values.nomad.secrets.north.hubServiceApiToken.value }}
{{- if not .Values.nomad.secrets.north.hubServiceApiToken.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-north-hub-token-secret
  labels:
    {{- include "nomad.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.nomad.secrets.north.hubServiceApiToken.key }}: {{ .Values.nomad.secrets.north.hubServiceApiToken.value | b64enc }}
{{- end }}
{{- end }}

{{- end }}
